.fg-toolbar.ui-toolbar.ui-widget-header.ui-corner-tl.ui-corner-tr.ui-helper-clearfix {
     background-color: #b9cd6d;
}

.fg-toolbar.ui-toolbar.ui-widget-header.ui-corner-bl.ui-corner-br.ui-helper-clearfix {

     background-color: #b9cd6d;
}


.ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix {

     background-color: #b9cd6d;
}
